server:
  port: 8081

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/fitzone_auth
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

jwt:
  secret: ZitaZdI0MmM4NjFkMTc5NzBhYjRiYzhjYmQ5ZTI0NWQ2ZTQ4NjE0ZGNhNWM5NjlkNWYz
  expiration: 86400000        # 24 hours
  refresh-expiration: 604800000  # 7 days

management:
  endpoints:
    web:
      exposure:
        include: health,info
