server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**
          filters:
            - AuthenticationFilter

        - id: member-service
          uri: lb://member-service
          predicates:
            - Path=/members/**
          filters:
            - AuthenticationFilter

        - id: plan-service
          uri: lb://plan-service
          predicates:
            - Path=/plans/**
          filters:
            - AuthenticationFilter

        - id: attendance-service
          uri: lb://attendance-service
          predicates:
            - Path=/attendance/**
          filters:
            - AuthenticationFilter

        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/payments/**
          filters:
            - AuthenticationFilter

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

jwt:
  secret: ZitaZdI0MmM4NjFkMTc5NzBhYjRiYzhjYmQ5ZTI0NWQ2ZTQ4NjE0ZGNhNWM5NjlkNWYz

management:
  endpoints:
    web:
      exposure:
        include: health,info
